.range-slider {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	max-width: 266px;
	font-size: 12px;
	&__header {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 25px;
	}
	&__title {
		text-transform: uppercase;
		font-size: 12px;
		font-weight: bold;
	}
	&__prices {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
	&__price {
		text-transform: uppercase;
	}
	&__content {
		position: relative;
		width: 266px;
	}
	&__track {
		position: relative;
		background-color: white;
		border: 1px solid grey;
		border-radius: 3px;
		height: 6px;
	}
	&__progress {
		position: absolute;
		height: 6px;
		top: -1px;
		left: 33%;
		right: 33%;
		border-radius: 5px;
		background-image: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
	}
	&__value {
  	position: absolute;
		width: 100%;
		height: 6px;
		top:0;
		background: none;
		pointer-events: none;
		appearance: none;
		-moz-appearance: none;
		&::-webkit-slider-thumb {
			appearance: none;
			pointer-events: auto;
			box-sizing: content-box;
			height: 12px;
			width: 12px;
			border: 2px solid white;
			border-radius: 50%;
			background-image: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
			cursor: pointer;
		}
	}
	&__description {
		margin-top: 15px;
		font-size: 12px;
		line-height: 14px;
		color: black;
		opacity: 50%;
		&::first-letter {
			text-transform: uppercase;
		}
	}
}